*{
    margin: 0;
    padding: 0;
    
}

.section_form {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle at 50% -20.71%, #a3a7ff 0, #7a8ffc 25%, #3c78f2 50%, #0063e8 75%, #3470d6 100%);
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 335px;
    padding: 35px 30px;
    color: white;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 38px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.logo_login{
    width: 150px;
    filter: invert(50%);
    margin-bottom: 25px;
}

.form-login h5 {
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 25px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 15px;
    color: #747474;


}

.form-control {
    color: rgb(0, 0, 0);
    width: 80%;
    border: 0;
    outline: none;
    border-radius: 0;
    margin-bottom: 15px;
    padding: 11px 10px;
    font-size: 14px;
    background-color: transparent;

    
}
.form-contro::placeholder {
    color: black;
    

}



.buttons {
    color: white;
    width: 80%;
    height: 40px;
    margin-bottom: 16px;
    cursor: pointer;
    background: radial-gradient(circle at -16% -20.71%, #4d56d39c 0, #00003a96 100%);
    box-shadow: 0 8px 32px 0 rgba(39, 50, 209, 0.37);
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 7px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all .5s linear;

}

.buttons:hover{
    background: radial-gradient(circle at -16% -20.71%, #3c418b9c 0, #03036996 100%);
    box-shadow: 0 8px 32px 0 rgba(74, 84, 226, 0.726);
}


.links_container{
    margin:25px 0;
}
.form-login p{
    height: 25px;
    text-align: center;

}

.form-login a{
    color: #747474;
    text-decoration: none;
    font-size: 14px;

}

.form-login a:hover{
    text-decoration: underline;
}


.text-danger{
    color: red;
    text-align: center;
}



.redes_container--principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.estamos{
    color: #747474;
}

.redsocial-1,.redsocial-2,.redsocial-3{
    color: #747474;
    font-size: 25px;
    cursor: pointer;
}

.redsocial-1:hover{
    transform: scale(120%);
    color: #F2016E;
}
.redsocial-2:hover{
    transform: scale(120%);
    color: #1c93e4;
}
.redsocial-3:hover{
    transform: scale(120%);
    color: #1771e6;
}