{% extends "plantillaPadre.html" %}
{% load static %}
    {% block content %}
    <section class="section1">
        <div class="container">
            <div class="form__content edicionC">
                <div>
                    <h2 class="tittle_edicion">Agregar Materia</h2>
                </div>
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

                <form class="form_Registro" id="form_Registro" action="/registraCurso/" method="POST"> 
                    <p class="AgregarH4">Agregar materias</p> 
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <button type="submit" class="boton guardar">Guardar</button>
                </form>
                
            </div>
    
        </div>
    </section>

    <script src="{% static 'js/gestionCursos.js' %}"></script>

    {% endblock %}